<% include header.ejs %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.ejs">Projects</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="#">Placeholder</a>
            </li>

        </ul>
    </div>
</nav>
    <div class="container list-group">
        <br class="col-12">
        <div class="row">
            <form method="POST">
                <div class="col-md-12">
                    <label class="m-1 col-md-5">Issue Name:
                        <input class="m-1 form-control" id="name" name="name" type="text"
                               value="<%= (typeof issue !== 'undefined') ? issue.name: '' %>" required/>
                    </label>
                    <label class="m-1 col-md-5">Description:
                        <input class="m-1 form-control" id="description" name="description" type="text"
                               value="<%= (typeof issue !== 'undefined') ? issue.description: '' %>" required/>
                    </label>
                    <label class="m-1 col-md-5">Start Date:
                            <input class="m-1 form-control" id="start_date" name="start_date" type="date"
                               value="<%= (typeof issue !== 'undefined') ? moment(issue.start_date).format('YYYY-MM-DD') : '' %>" required/>
                    </label>
                    <label class="m-1 col-md-5">End Date:
                        <input class="m-1 form-control" id="end_date" name="end_date" type="date"
                               value="<%= (typeof issue !== 'undefined') ? moment(issue.end_date).format('YYYY-MM-DD'): '' %>" required/>
                    </label>


                </div>
                <div class="col-md-12">
                    <br>
                    <input class="btn-primary btn-lg" type="submit" value="Save">
                    <div><br class="col-sm-12"></div>
                    <a class="m-2 btn-lg btn-danger" href="/project/edit/<%= project._id%>">Cancel</a>
                </div>
            </form>
        </div>
    </div>

<% include footer.ejs %>